.header {
  margin: $space-38 $space-38 $space-44;

  &__logo {
    display: inline-block;
    height: 42px;
    width: 170px;
  }
}

@media (min-width: $breakpoint-large) {
  .header {
    width: 92%;
    margin: $space-56 auto $space-60;

    &__logo {
      margin-left: $space-12;
      height: 73.5px;
      width: 300px;
    }
  }
}
